// SCSS Variables
// Custom variables for the application

// TodoMVC Colors
$todo-red: rgba(230, 45, 45, 0.6);
$todo-red-border: rgba(175, 47, 47, 0.5);
$todo-red-border-focus: rgba(175, 47, 47, 0.8);

// Layout
$todo-max-width: 550px;
$todo-title-size: 100px;

// Spacing
$todo-margin-top: 130px;
$todo-margin-bottom: 40px;
